
body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #fff;
}

ul, ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
}

h1, h2, h3, p {
        margin: 0;
}

a {
        text-decoration: none;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-logo {
        padding: 24px 0;
        margin-right: 76px;
}

.conteiner {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}

.header-conteiner {
        display: flex;
        align-items: center;
}

.header-nav {
        display: flex;
        align-items: center;
}
.page-header {
        border-bottom: 1px solid #e7e9fc;
}

.header-logo .logo-parth {
        color: #2e2f42;
}

.nav-list{ 
        display: flex;
                align-items: center;
                gap: 40px;
}
.nav-link {
        padding: 24px 0;
        display: block;
        font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #2e2f42;
}

.nav-link:hover, 
.nav-link:focus {
        color: #404bbf;
}

.cardimg {
        padding: 32px 16px;
}

.contacts {
        font-style: normal;
        margin-left: auto;
}
.contacts-list {
        display: flex;
                align-items: center;
                gap: 40px;
                        
}
.contacts-link {
        padding: 24px 0;
                display: block;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}

.hero {
        background-color: #2e2f42;
        padding: 188px ;
        display: flex;
                align-items: center;
                
}

.padi {
        padding: 120px;
}

.hero-title {
        font-weight: 700;
                font-size: 56px;
                line-height: 1.07;
                letter-spacing: 0.02em;
                text-align: center;
                color: #fff;
                max-width: 496px;
                
}

.hero-btn {
        background-color: #4d5ae5;
        color: #fff;
                font-weight: 500;
                line-height: 1.5;
                letter-spacing: 0.04em;
                cursor: pointer;
                padding: 16px 32px;
                border-radius: 4px;
                display: block;
                margin: 48px auto 0;

}

.hero-btn:hover,
.hero-btn:focus {
        background-color: #404bbf;

}

.text-list {
        display: flex;
        gap: 24px;
}

.text-item {
        width: calc( (100% - 72px) / 4);
}
h2 {
        font-weight: 700;
                font-size: 36px;
                line-height: 1.11;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;
                text-transform: capitalize;

}

h3 {
        font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
}

p {
        font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.cards {
        background-color: #F4F4FD;
        
}

.cards-list {
        display: flex;
        gap: 24px;
}

.cards-item {
        background-color: #FFFFFF
        width: calc((100% - 72px) / 4);
}

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
}

.portfolio-item {
        
}

.about {
        background-color: #2e2f42;
}

.logo-about {
        font-weight: 700;
                font-size: 18px;
                line-height: 1.17;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #4d5ae5;
                font-family: "Raleway", sans-serif;
}

.footer-logo .logo-parth-about {
        color: #f4f4fd;
}

.logo-text {
        color: #f4f4fd;
}